@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    border-style: none;
    list-style: none;
  }


html, 
body{
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-image: url(./imag/backgroundsite/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    /* background-color: purple; */
}
header .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 76px;
    max-width: 1716px;
    width: 90%;
    margin: auto;
    

}
header input{
    width: 550px;
    height: 50px;
    border-radius: 30px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header  ul  {
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 0px 5px;
  }
  
  header nav ul li .set-class-a {
    display: flex;
    list-style: none;
    align-items: center;
    
  }

  .menu-bar{
    cursor: pointer;
  }

  
  .logo{
    cursor: pointer;
  }
  
  
  .button-config{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
  }
  
  .text-nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 10px;
  }
  
  .button-carrinho{
    width: 200px;
    height: 151px;
    border: solid 1px black;
    border-radius: 20px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
    gap: 11px;
  } 
  .container-bordao{
    display: flex;
    align-items: center;
    padding-top: 76px;
    max-width: 1383px;
    width: 90%;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.65rem;
    line-height: 75px;
    color: #E5E5E5;
    text-shadow: 10px 5px 5px black;
  }

  .container-navigation{
    padding-top: 236px;
    max-width: 1716px;
    width: 90%;
    margin: auto;
    
  }

  .position-ul{
    display: flex;
    justify-content: space-between;
  }
  
  
  .style-button{
    width: 17vw;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
    gap: 10px;
  }
  
  .font-text-buttons{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 29px;

  }

  .background-color-section-1{
    /* background-color: purple; */
    padding-top: 206px;
  }

.container-banner{
  display: flex;
  max-width: 1716px;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
}

.container-button{
  display: flex;
  max-width: 1416px;
  width: 100%;
  margin: auto;

}

 .banner{
  margin:auto;
  border: black solid 1px;
  width: 1416px;
  height: 342px;
  border-radius: 20px;
  border-style: none;
  max-width: 100%;
  background-image: url(./imag/banner/Banner.png);
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: space-between;
}


.style-button-destaque{

  width: 17vw;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 5px black;
}


.style-button-clique-aqui{
  width: 8vw;
  height: 56px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
  transition: 1s;
  bottom: 326px;
  left: 20px;
  background-color: rgb(213, 148, 18);
}

.style-button-clique-aqui:hover{
  transition:  1s;
  box-shadow: 10px 5px 5px black;
  background-color: white;
}

.style-button-placa-de-video{
  width: 30.32vw;
  height: 56px;
  border-radius: 20px;
  margin-top: 264px;
  margin-right: 20px;
  background-color: #DB9911;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
  transition: 1.5s;
}

.style-button-placa-de-video:hover{
  transition:  1s;
  box-shadow: 10px 5px 5px black;
  background-color: white;
}

.background-color-section-2{
  /* background-color: purple; */
  padding-top: 175px;
}

.background-color-section-3{
  /* background-color: purple; */
  padding-top: 175px;
}
.container-ofertas{
  display: flex;
  max-width: 1416px;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.box-ofertas{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 671px;

}


.box-description{
  width: 17vw;
  height: 140px;
  margin-top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  border-radius: 20px;
  background-color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 5px black;
}

.button-style-comprar{
  width: 17vw;
  height: 60px;
  margin-top: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DB9911;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
  transition: 1s;
  gap: 10px;
}

.button-style-comprar:hover{
  transition:  1s;
  box-shadow: 10px 5px 5px black;
  background-color: white;
}

.flexibile{
  padding-top: 25px;
  max-width: 100%;
}


.container-button-see-more{
  display: flex;
  max-width: 1416px;
  width: 90%;
  margin: auto;
  justify-content: center;
  padding-top: 50px;
}

.button-see-more{
  width: 17vw;
  height: 60px;
  display: flex;
  background-color: #DB9911;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
  transition: 1s;
}

.button-see-more:hover{
  transition:  1s;
  box-shadow: 10px 5px 5px black;
  background-color: white;
}

.container-footer{
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  max-width: 1716px;
  width: 90%;
  margin: auto;
}

.box-right-footer{
  width: 383px;
  height: 229px;
}

.box-left-footer{
  width: 706px;
  height: 326px;
}
.container-copyright{
  display: flex;
  justify-content: center;
}

.style-copyright{

}